body {
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(to bottom right, #1b1b1b, #333);
    color: #f0f0f0;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    background: linear-gradient(to right, #4A90E2, #007AFF);
    color: white;
    padding: 20px 0;
    text-align: center;
}

h1 {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: rgba(50, 50, 50, 0.8);
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}

h2 {
    font-weight: 600;
    margin: 20px 0 10px;
    text-align: center;
    text-decoration:underline;
}

.card {
    background-color: #444;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
    margin: 20px 0;
    padding: 20px;
}

#socials ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 20px;
    justify-content: center;
}

#socials li {
    margin: 0;
}

#socials a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 600;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #4A90E2;
    transition: background-color 0.3s, transform 0.3s;
}

#socials a:hover {
    background-color: #007AFF;
    transform: scale(1.05);
}

#socials a:active {
    transform: scale(0.95);
}

#bio {
    color: #ccc;
    text-align: center;
}
#bio img{
    width:400px;
    height:100%;
    object-fit:cover;
}

#project-list {
    margin: 20px 0;
}

.project {
    background-color: #555;
    border: 1px solid #666;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 15px;
    transition: transform 0.2s;
}

.project:hover {
    transform: scale(1.02);
}

.project a {
    text-decoration: none;
    color: #4A90E2;
    font-weight: 700;
}

.project p {
    margin: 10px 0 0;
    color: #ccc;
}

#contact {
    margin: 20px 0;
}

form div {
    margin-bottom: 15px;
}

label {
    font-weight: 600;
    display: block;
    margin-bottom: 5px;
    color: #f0f0f0;
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #666;
    border-radius: 4px;
    background-color: #333;
    color: #f0f0f0;
}

button {
    background-color: #4A90E2;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #007AFF;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #4A90E2;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}